a {
  margin: 0px;
  padding: 0px;
}
a:hover {
  color: #ff6500;
}

h1, h2, h3, h4, h5, h6 {
  color: #060a0f;
}

p {
  color: #494949;
}

.tSlow, nav ul li a:after, nav ul li a:before, nav ul li a, nav ul .link-active a:after, nav ul, nav .logo img, nav, button, input, select, option, textarea, a {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.pad_100 {
  padding: 100px 0px;
}

.center {
  text-align: center;
  margin: 0px auto;
}

input, select, option, textarea {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #060a0f;
  margin: 5px 0px;
  opacity: 0.5;
}
input:hover, input:focus, select:hover, select:focus, option:hover, option:focus, textarea:hover, textarea:focus {
  opacity: 1;
  color: #060a0f;
}

textarea {
  max-width: 100%;
  min-width: 100%;
  min-height: 150px;
  max-height: 250px;
}

button {
  background-color: transparent;
  text-transform: uppercase;
  border: 1px solid #060a0f;
  padding: 10px 20px;
  margin: 5px 0px;
  color: #060a0f;
  font-size: 16px;
  letter-spacing: 1px;
  curso: pointer;
  opacity: 0.7;
}
button:hover {
  opacity: 1;
  background-color: #060a0f;
  color: white;
}

.black {
  background-color: #060a0f;
  opacity: 1;
  color: white;
}
.black:hover {
  background-color: #ff6500;
  border: 1px solid #ff6500;
}

nav {
  width: 100%;
  background-color: transparent;
  padding: 10px 0px;
  position: fixed;
  border-bottom: 1px solid transparent;
  z-index: 100;
}
nav .logo img {
  width: 100%;
}
nav ul {
  margin: 0px;
  margin-top: 12px;
  padding: 0px;
  text-align: right;
}
nav ul .link-active a {
  color: #060a0f !important;
}
nav ul .link-active a:after {
  width: 100%;
  background-color: #060a0f;
}
nav ul li {
  display: inline-block;
  padding: 0px 10px;
}
nav ul li a {
  position: relative;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
}
nav ul li a:before {
  content: "";
  position: absolute;
  width: 100%;
  background-color: transparent;
  height: 1px;
}
nav ul li a:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0px;
  width: 0%;
  background-color: red;
  height: 1px;
}
nav ul li a:hover {
  text-decoration: none;
  color: #060a0f;
}
nav ul li a:hover:before {
  width: 0%;
  background-color: #060a0f;
}
nav ul li a:hover:after {
  width: 100%;
  background-color: #060a0f;
}

#slider {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-clip-path: polygon(100% 0%, 100% 100%, 50% 85%, 0% 100%, 0% 0%);
  -o-clip-path: polygon(100% 0%, 100% 100%, 50% 85%, 0% 100%, 0% 0%);
  clip: polygon(100% 0%, 100% 100%, 50% 85%, 0% 100%, 0% 0%);
}

#slippry {
  position: relative;
}
#slippry h1, #slippry h2, #slippry h3, #slippry h4, #slippry h5, #slippry h6, #slippry p, #slippry a, #slippry button {
  position: absolute;
}
#slippry p {
  width: 600px;
}
#slippry .white_bg {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px 10px;
}
#slippry .left {
  left: 200px;
}
#slippry .right {
  right: 200px;
}
#slippry .top_200 {
  top: 200px;
}
#slippry .top_225 {
  top: 225px;
}
#slippry .top_250 {
  top: 250px;
}
#slippry .top_275 {
  top: 275px;
}
#slippry .top_300 {
  top: 300px;
}
#slippry .top_325 {
  top: 325px;
}
#slippry .top_350 {
  top: 350px;
}
#slippry .top_375 {
  top: 375px;
}
#slippry .top_400 {
  top: 400px;
}
#slippry .top_425 {
  top: 425px;
}
#slippry .top_450 {
  top: 450px;
}